{% for i in backups %}
{% if i['name'] == inventory_hostname %}
{# DEFAULTServer         {{ i['name']|upper }} #}
DEFAULTServer         {{ i.label |upper }}

{% for j in i.backup %}
{% if ( j['type'] == "daily" or j['type'] == "monthly" or j['type'] == "daily_ora" or j['type'] == "monthly_ora" ) %}
SErvername  {{ j['svr']|upper }}_{{ j['name'] |upper }}
{# NODename           {{ inventory_hostname.split('.')[0]|upper }}_{{ j['name'] |upper }} #}
   NODename           {{ inventory_hostname.split('.')[0]|lower }}
   COMMMethod         TCPip
   TCPPort            {{ j['port'] }}
   TCPServeraddress   {{ j['addr'] }}
   MANAGEDServices    schedule
   SCHEDMODe          POlling
   QUERYSCHedperiod   1
   SCHEDLOGName       /var/log/tsm/{{ j['svr']|upper }}_{{ j['name'] |upper }}_sched.log
   SCHEDLOGRet        31 D
   ERRORLOGName       /var/log/tsm/{{ j['svr']|upper }}_{{ j['name'] |upper }}_error.log
   ERRORLOGRet        31 D
   PASSWORDAccess     generate
   INCLExcl           /etc/tsm/inclexcl.{{ inventory_hostname.split('.')[0]|lower }}
   DOMain             ALL-LOCAL
   DIRMc              DAILY_DIRMC

{% endif %}
{% endfor %}
{% endif %}
