# Turning on text-mode installation (little quicker than GUI)
text

# Setting up authentication and keyboard
auth --enableshadow --passalgo=sha512
keyboard 'uk'

url --url="{{ iso_urls[ os_version ] }}"

# Run the Setup Agent on first boot
firstboot --enable

# Using only primary disk, ignoring others
ignoredisk --only-use=sda

# Setting up language to English
lang en-GB.UTF-8

# Setting up network interface to DHCP
#network --bootproto=dhcp --ipv6=auto --hostname=centos-ks.local --activate
network --bootproto=static --device={{ netdev }}.{{ netvlan }} --bootproto=static --ip {{ netip }} --netmask {{ netmask }} --gateway {{ netgw }} --nameserver 172.16.30.100 --activate --vlanid={{ netvlan }}
network --hostname {{ inventory_hostname }}

# Root password (remember that plaintext only for information purposes)
rootpw --plaintext t00r
#rootpw --iscrypted $1$RooHER1A$cura3mrq43QyeXMxHt/Mt. 

# System services
services --enabled="chronyd"
services --enabled="sshd"

# Setting timezone
timezone Europe/London --isUtc

# Setting up Security-Enhanced Linux into enforcing
selinux --enforcing

# Setting up MBR
# Check if variable is defined and if its not empty
{% if os_disk is defined and os_disk|length %}
bootloader --location=mbr --driveorder={{os_disk}}
{% else %}
bootloader --location=mbr --driveorder=sda
{% endif %}
# Setting up Logical Volume Manager and autopartitioning
clearpart --all --drives=sda --initlabel
# Partition clearing information
part /boot --fstype xfs --size=500
part swap --size=8192
{% if os_disk is defined and os_disk|length %}
part pv.01 --size=1000 --grow --ondisk={{os_disk}}
{% else %}
part pv.01 --size=1000 --grow --ondisk=sda
{% endif %}
volgroup vgos pv.01
logvol / --vgname=vgos --fstype=xfs --size=51200 --name=lv_root
logvol /home --vgname=vgos --fstype=xfs --size=10240 --name=lv_tmp
logvol /var --vgname=vgos --fstype=xfs --size=10240 --name=lv_var
# Eject cdrom and reboot
reboot --eject

# Do not configure the X Window System
skipx

# Installing only packages for minimal install 
%packages
@^minimal
@core
chrony
kexec-tools
screen
vim
ipython
tree
wget
%end


#%post --log=/root/ks-post.log
#/usr/sbin/subscription-manager register --username=admin@example.com --password=secret --serverurl=sam-server.example.com --org="Admin Group" --environment="Dev"
#%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

