
# Install OS instead of upgrade
install
# Firewall configuration
firewall --enabled --ssh
# Keyboard layouts
keyboard 'us'# Use network installation
url --url="http://mirror.centos.org/centos/6/os/x86_64"
# Network information
network --hostname {{ inventory_hostname }} --device=eth0 --bootproto=static --ip {{ netip }} --netmask {{ netmask }} --gateway {{ netgw }} --nameserver 172.16.30.100
# Reboot after installation
reboot
# Root password
rootpw --iscrypted $1$RooHER1A$cura3mrq43QyeXMxHt/Mt. 
# System timezone
timezone Europe/London
# System authorization information
auth  --useshadow  --passalgo=md5
# Use text mode install
text
# System language
lang en_GB
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Auto-partition
autopart

%packages --nobase --excludedocs
@base
vim
%end

#%post --log=/root/ks-post.log
#/usr/sbin/subscription-manager register --username=admin@example.com --password=secret --serverurl=sam-server.example.com --org="Admin Group" --environment="Dev"
#%end
